

.cart-page {
    box-sizing: border-box;    
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 50px;
    color: white;
}

.cart-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.7rem;
    border-radius: 0.7rem;
    width: 100%;
}

.cart-page-product {
    width: 73%;
    margin: 2px;
    background-color: rgb(160, 181, 209);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.4rem;
    display: flex;
}

.cart-page-product button:hover {
    background-color: #fa983a;
  }
  
  .cart-page-img {
      display: flex;
      width: 40%;
      
  }

.cart-page-img img {
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 0.2rem;
} 


.cart-page-img p {
    margin-left: 10px;
} 

.cart-page-btn-1 {
    width: 30%;
}

.cart-page-prod-count {
    max-width: 10px;
}

.cart-page-btn-1 button {
    width: 30%;
    height: 30px;
    margin: 10px;
    background-color: #e67e22;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.2rem;
}

.cart-page-btn-2 {
    width: 30%;
}

.cart-page-total-price {
    max-width: 10px;

}

.cart-page-btn-2 button {
    width: 50%;
    height: 30px;
    margin: 10px;
    background-color: #e67e22;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.2rem;

}

.cart-total-price {
    display: flex;
    justify-content: center;
    color: black;
}

.cart-message {
    display: flex;
    justify-content: center;
    color: red;
    padding: 100px;
    margin: 100px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 0.4rem;
}

@media (max-width: 675px) {
    .navbar-cart .count {
      display: none;
    }

    .cart-page-img img {
        display: none;
       
    }

}