.filters {
	box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.each-filter {
	box-sizing: border-box;
    margin: 0 0.5rem;
	font-size: 1rem;
	padding: 0.3rem;
	cursor: pointer;
	text-align: center;
	border: 1px solid black;
	min-height: 0.4rem;
    border-radius: 0.3rem;
}

.active {
	font-weight: bold;
	cursor: default;
	border: 3px solid black;

}

.clear-filter {
    background-color: black;
    color: aliceblue;
    margin: 0 0.5rem;
	font-size: 0.8rem;
	padding: 0.3rem;
	cursor: pointer;
	text-align: center;
	min-height: 1rem;
    border-radius: 0.3rem;
}