
.navbar {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 29, 126);
    color: aliceblue;
  }
  
  .navbar-heading {
      width: 20%;
      padding-left: 10px;
  }
  
  .navbar h1 {
    text-align: center;
    width: 15%;
    cursor: pointer;
  }
   
  .navbar-search {
    width:80%;
    height: 100%;
    padding-left: 14%;
    display: flex;
    align-items: center;
  }

  .navbar-search input {
    width: 60%;
    height: 50%;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    padding-left: 2px;
  }

  .navbar-search-close {
    padding-left: 10px;
  }
  
  .navbar-cart {
    width: 5%;
  }

.navbar-cart .icon {
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .navbar-cart .count {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: red;
    border-radius: 20%;
    color: aliceblue;
  }
  
  @media (max-width: 675px) {
    .navbar-cart .count {
      display: none;
    }

  }
  
  @media (max-width: 420px) {
    .navbar-heading {
      display: none;
    }

    .navbar-search input {
      width: 80%;
    }

    
  }